.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(
    180deg,
    rgba(8, 0, 148, 1) 0%,
    rgba(0, 141, 230, 1) 100%
  );
  padding: 20px 25px 20px 17px;
  color: #fff;
}

.card__header-container {
  display: flex;
  align-items: center;
}

.card__header-city {
  margin-left: 5px;
}

@media (max-width: 379px) {
  .card__header {
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}